.heartLogo {
    text-align: center;
}

.heart {
    position: relative;
    display: inline-block;
    margin: 50px auto;
    margin-bottom: 20px;
    animation: 0.8s jump linear infinite alternate-reverse;
}

@keyframes jump {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

.mid {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background-color: rgba(251, 188, 5);
}

.left,
.right {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 100%;
    border-radius: 25px;
    background-color: rgba(251, 188, 5);
}

.left {
    right: 100%;
    transform: rotate(45deg) translateX(50px);
}

.right {
    left: 100%;
    transform: rotate(45deg) translateY(50px);
}


body {
    min-width: 500px;
}

@media(max-width:500px) {
    body {
        min-width: 0;
    }
}

.searchHead {
    padding: 20px;
    height: 80px;
    max-width: 800px;
}

.searchHead form {
    margin: 0;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.searchHead input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    margin: 0 10px 0 0;
    border: 1px solid rgb(66, 133, 244);
    padding:8px;
}

.searchHead button {
    height: 40px;
    border-radius: 4px;
    background-color: rgb(66, 133, 244);
    padding: 0 20px;
    color: #fff;
    font-size: 16px;
}

.nav {
    margin: 20px auto;
    margin-top: 50px;
    height: 40px;
    background-color: rgba(251, 188, 5, 0.5);
    border-radius: 4px;

}

@media (max-width: 500px) {

    .nav,
    main {
        margin: 20px;
    }
}

@media (min-width: 500px) {

    .nav,
    main {
        max-width: 760px;
    }
}

.nav ul {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.nav ul li {
    background-color: #fff;
    padding: 6px;
    color: rgb(66, 133, 244);
}

.nav ul .selected {
    background-color: rgb(66, 133, 244);
    color: #fff;
}

main {
    margin: 20px auto;
}

@media (min-width:500px) {
    main {
        max-width: 800px;
    }
}

main .siteLists {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
}


main .siteLists .site,
.addSite {
    position: relative;
    width: 160px;
    height: 120px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: rgb(66, 133, 244)
}

main .siteLists .addSite {
    color: rgb(251, 188, 5);
}

@media (min-width: 500px) {
    main .siteLists {
        margin: 0;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-right: 5px;
    }

    main .siteLists .site,
    .addSite {
        width: 140px;
        margin: 0;
        margin-right: 15px;
        padding: 0;
    }
}

main .siteLists .site .delete {
    position: absolute;
    right: 20px;
    top: -5px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
}

main .siteLists .site a .logo {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    line-height: 70px;
    background-color: rgb(241, 243, 244);
    font-size: 64px;
    margin-bottom: 15px;
}

main .siteLists .addSite .logo {
    width: 120px;
    height: 120px;
    border-radius: 60px;

    font-size: 80px;
    line-height: 120px;
    background-color: rgb(241, 243, 244);
}

main .siteLists .addSite .logo svg use {
    color: rgb(251, 188, 5);
}

/* 文字过多时显示成... */
main .siteLists .site a p {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 鼠标放上展示所有文字 */
main .siteLists .site a p:hover {
    text-overflow: clip;
    overflow: visible;
}

.hidden {
    display: none;
}

.blogList {
    padding-left: 20px;
    padding-right: 20px;
}

.blogList li {
    width: 100%;
    height: 80px;
    margin-bottom: 15px;
    position: relative;
    color: rgb(66, 133, 244);
    background-color: rgb(241, 243, 244);
    padding: 5px 20px;
}

.blogList li .delete {
    position: absolute;
    right: 15px;
    top: 0px;
    width: 10px;
    height: 10px;
}

.blogList li p {
    margin-top: 10px;
    font-size: 12px;
}

.addBlog .logo {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-35px);
    font-size: 70px;
    line-height: 70px;
}

/*# sourceMappingURL=src.02620324.css.map */